@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: "Sora", sans-serif;
  color-scheme: dark; 
}

* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    background-image: url('/body-bg.png');
    @apply bg-cover bg-no-repeat text-n-1 text-base;
    font-family: var(--font-sora);
  }

  @supports (background-image: url('/body-bg.webp')) {
    body {
      background-image: url('/body-bg.webp'); 
    }
  }
}

@layer components {
  .font-sora {
    font-family: var(--font-sora);
  }
}

a.button:hover {
  @apply no-underline;
}

a:hover {
  @apply underline text-p-3 animate;
}

.no-custom-hover:hover {
  text-decoration: none;
  color: inherit;
  animation: none;
}
